
/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 24px;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 24px;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 24px;
}

h4, h5, h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 24px;
}

p, ol, ul, dl, table, address, figure {
    margin: 0 0 24px;
}

ul, ol {
    padding-left: 24px;
}

li ul, li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    transition: all var(--transition-alpha);
    color: var(--color-alpha);
    outline-color: var(--color-alpha);
    outline-width: medium;
    outline-offset: 2px;
}

a:visited, a:active {
    color: var(--color-alpha);
}

a:hover, a:focus {
    color: var(--color-alpha-light);
}

label, input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: var(--color-neutral-x-light);
}